.section-menu a {
    color: #585858;
}
.section-menu a.active {
    color: #000;
    background-color: #bbd6ff;
}
.section-menu a:hover {
    background-color: #e1e1e1;
}
.section-menu a.disabled {
    color: #c6c6c6;
}
.section-group {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}
.informant {
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 35px;
}


/* Extra small */

@media (max-width: 575.98px) {}


/* Small */

@media (min-width: 576px) and (max-width: 767.98px) {}


/* Medium */

@media (min-width: 768px) and (max-width: 991.98px) {}


/* Large */

@media (min-width: 992px) and (max-width: 1199.98px) {}


/* Extra large */

@media (min-width: 1200px) {}