.btn-status {
    cursor: pointer;
}

.profile .row {
    margin: 0px;
}

.profile-left,
.profile-right {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e1e1e1;
}

.profile-left {
    font-size: 14px;
    color: #5a5a5a;
}


/* Extra small */

@media (max-width: 575.98px) {
    .profile-left {
        border-bottom: 0px;
        padding-bottom: 0px;
    }
    .profile-right {
        margin-bottom: 5px;
    }
    .profile .row {
        margin: 0px;
    }
}


/* Small */

@media (min-width: 576px) and (max-width: 767.98px) {}


/* Medium */

@media (min-width: 768px) and (max-width: 991.98px) {}


/* Large */

@media (min-width: 992px) and (max-width: 1199.98px) {}


/* Extra large */

@media (min-width: 1200px) {}